@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

header {
  box-shadow: 0px 5px 5px #cfcfcf;
  font-family: "shrikhand", cursive;
  text-align: center;
  padding: 10px 0 10px 0;
  position: relative;
}
header h1 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.location {
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.location i {
  position: relative;
  right: 20px;
}
.location p {
  margin: 0;
  font-weight: 700;
}

.haut-de-page {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 60px;
}
.haut-de-page h3 {
  margin: 0;
  padding: 35px 0 0 0;
  font-weight: 700, bolder;
  font-size: 1.4rem;
}
.haut-de-page p {
  font-weight: 300;
  font-size: 1rem;
  color: #525252;
  margin-bottom: 30px;
}
.haut-de-page button {
  box-shadow: 0px 5px 5px #cfcfcf;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 2rem;
  padding: 15px;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
}

.fonction {
  counter-reset: choice;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  width: 100%;
}
.fonction .fonction__title {
  display: inline;
  font-size: 2rem;
  width: 80%;
  font-weight: 700, bolder;
  font-size: 1.4rem;
  margin: 35px 0 15px 0;
}
.fonction .fonction__pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 0;
  width: 80%;
}
.fonction .fonction__pic__list {
  position: relative;
  list-style-type: none;
  box-shadow: 0px 5px 5px #cfcfcf;
  background-color: #f6f6f6;
  padding: 25px 0 25px 80px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}
.fonction .fonction__pic__list .fas-picture {
  color: grey;
  font-size: 1.3rem;
  position: absolute;
  left: 40px;
  top: 22px;
}
.fonction .fonction__pic__list:hover {
  background-color: #f2eafb;
}
.fonction .fonction__pic__list:hover .fas-picture {
  color: #9356DC;
}
.fonction .fonction__pic__list .fa-mobile-screen-button {
  left: 44px;
}
.fonction .fonction__pic__list::before {
  position: absolute;
  left: -10px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(choice);
  counter-increment: choice;
  background-color: #9356DC;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.set__card {
  position: relative;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: left;
  padding: 20px 0 75px;
}
.set__card h3 {
  width: 80%;
  font-weight: 700, bolder;
  font-size: 1.4rem;
  margin: 22.4px 0px 0px;
}
.set__card .new::before {
  padding: 5px;
  content: "Nouveau";
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: 4px;
}

.card {
  position: relative;
  width: 80%;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 5px 5px #cfcfcf;
}
.card .card__img {
  object-fit: cover;
  height: 175px;
  width: 100%;
}
.card .card__legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card .card__legend .fa-heart {
  position: absolute;
  bottom: 25px;
  right: 10px;
  font-size: 1.4rem;
}
.card .card__legend .fa-solid {
  opacity: 0;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: all, 1s;
}
.card .card__legend .fa-regular {
  transform: scale(1);
  transition: all 1s;
}
.card .card__legend .fa-regular:hover {
  transform: scale(0);
  opacity: 0;
}
.card .card__legend .fa-regular:hover + .fa-solid {
  transform: scale(1.1);
  opacity: 1;
}
.card .card__legend .legend__name, .card .card__legend .legend__location {
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
}
.card .card__legend .legend__name {
  margin: 0;
  padding: 10px 0 5px 10px;
  font-weight: 600;
}
.card .card__legend .legend__location {
  font-weight: 300;
  margin: 0;
  padding-bottom: 13px;
}

footer {
  background-color: #353535;
  display: flex;
  justify-content: center;
}

.foot {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  width: 50vh;
}
.foot .foot__title {
  align-self: flex-start;
  letter-spacing: 1px;
  padding-top: 25px;
  margin: 0;
  font-family: "shrikhand", cursive;
  color: white;
  justify-content: flex-end;
}
.foot .foot__nav {
  list-style: none;
  padding: 0;
}
.foot .foot__nav .nav__link {
  text-decoration: none;
  color: white;
}
.foot .foot__nav .fa-utensils {
  font-size: 0.9rem;
  padding-right: 13px;
}
.foot .foot__nav .fa-handshake-angle {
  font-size: 0.8rem;
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
