@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

header {
  box-shadow: 0px 5px 5px #cfcfcf;
  font-family: "shrikhand", cursive;
  text-align: center;
  padding: 10px 0 10px 0;
  position: relative;
}
header h1 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.location {
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.location i {
  position: relative;
  right: 20px;
}
.location p {
  margin: 0;
  font-weight: 700;
}

.haut-de-page {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 60px;
}
.haut-de-page h3 {
  margin: 0;
  padding: 35px 0 0 0;
  font-weight: 700, bolder;
  font-size: 1.4rem;
}
.haut-de-page p {
  font-weight: 300;
  font-size: 1rem;
  color: #525252;
  margin-bottom: 30px;
}
.haut-de-page button {
  box-shadow: 0px 5px 5px #cfcfcf;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 2rem;
  padding: 15px;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
}

.fonction {
  counter-reset: choice;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.fonction .fonction__title {
  font-size: 2rem;
  width: 50vh;
  text-align: left;
  font-weight: 700, bolder;
  font-size: 1.4rem;
  margin: 35px 0 15px 0;
}
.fonction .fonction__pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 0;
}
.fonction li {
  width: 50vh;
  position: relative;
  list-style-type: none;
  box-shadow: 0px 5px 5px #cfcfcf;
  background-color: #f6f6f6;
  padding: 25px 0 25px 80px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
}
.fonction li .fas-picture {
  color: grey;
  font-size: 1.3rem;
  position: absolute;
  left: 40px;
  top: 22px;
}
.fonction li .fa-mobile-screen-button {
  left: 44px;
}
.fonction li::before {
  position: absolute;
  left: -10px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(choice);
  counter-increment: choice;
  background-color: #9356DC;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.set__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 65px;
}
.set__card h3 {
  font-weight: 700, bolder;
  font-size: 1.4rem;
  width: 50vh;
  margin-bottom: 12.4px;
}
.set__card .card {
  border-radius: 20px;
  width: 50vh;
  height: 250px;
  box-shadow: 0px 5px 5px #cfcfcf;
  overflow: hidden;
}
.set__card .card__img--lpg {
  object-fit: cover;
  width: 50vh;
  height: 174px;
  object-position: 0px -40px;
}
.set__card .card__img--lne {
  object-fit: cover;
  width: 50vh;
  height: 174px;
  object-position: 0px -140px;
}
.set__card .card__img--alf {
  object-fit: cover;
  width: 50vh;
  height: 174px;
  object-position: 0px -30px;
}
.set__card .card__img--lds {
  object-fit: cover;
  width: 50vh;
  height: 174px;
  object-position: 0px -50px;
}
.set__card .card__legend {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  position: relative;
}
.set__card .card__legend .legend__name {
  margin: 15px 0 5px 0;
  min-width: max-content;
  font-weight: 700;
  font-size: 1.1rem;
}
.set__card .card__legend .legend__location {
  margin: 0;
  font-weight: 300;
}
.set__card .card__legend .fa-regular, .set__card .card__legend .fa-solid {
  position: absolute;
  right: 20px;
  bottom: 9px;
  font-size: 1.6rem;
}
.set__card .card__legend .fa-solid {
  font-size: 1.62rem;
  opacity: 0;
  color: red;
  transform: scale(1);
}

footer {
  background-color: #353535;
  display: flex;
  justify-content: center;
}

.foot {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  width: 50vh;
}
.foot .foot__title {
  align-self: flex-start;
  letter-spacing: 1px;
  padding-top: 25px;
  margin: 0;
  font-family: "shrikhand", cursive;
  color: white;
  justify-content: flex-end;
}
.foot .foot__nav {
  list-style: none;
  padding: 0;
}
.foot .foot__nav .nav__link {
  text-decoration: none;
  color: white;
}
.foot .foot__nav .fa-utensils {
  font-size: 0.9rem;
  padding-right: 13px;
}
.foot .foot__nav .fa-handshake-angle {
  font-size: 0.8rem;
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
