@import "./base/base";
@import "./utils/mixin";
@import "./utils/variables";
@import "./layouts/header";
@import "./layouts/body";
@import "./layouts/location";
@import "./layouts/haut-de-page";
@import "./layouts/fonction";
@import "./layouts/set__card";
@import "./layouts/card";
@import "./layouts/footer";
@import "./layouts/menu";
@import "./layouts/width__tablette";
//@import "./layouts/width__desktop";








