@import "./base/base.scss";
@import "./utils/mixin.scss";
@import "./utils/variables.scss";
@import "./layouts/header.scss";
@import "./layouts/body.scss";
@import "./layouts/location.scss";
@import "./layouts/haut-de-page.scss";
@import "./layouts/fonction.scss";



.set__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: $back-color;
    & h3 {
        @include police__h3;
        width: 50vh;
        margin-bottom:12.4px;
    }
    & .card {
        border-radius: 20px;
        width: 50vh;
        height: 250px;
        @include shadow;
        overflow: hidden;
    }
    & .card img {
        object-fit: cover;
        width: 50vh;
        height: 139px;
    }
    & .legend__card {
        display: flex;
        flex-direction: column;
        background-color: red;
        padding-left: 15px;
        
        & .card__name {
            margin: 5px 0 5px 0;
            min-width: max-content;
            
        }
        & .card__location {
            margin: 0;
        }
        & .fa-regular {
           position: relative;
           left: 280px;
           bottom: 20px;
           background-color: blue;
        }
    }
}
