@import "./utils/mixin.scss";
@import "./base/base.scss";
@import "./layouts/header.scss";
@import "./utils/variables.scss";

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.location {
    background-color: #eaeaea;
    padding: 20px ;
    text-align: center;
    display: flex;
    justify-content: center;

    & i {
      position: relative;
      right: 20px;
    }

    & p {
        margin: 0;
        font-weight: 700;
    
    }
}


.haut-de-page {
    text-align: center;
    background-color: $back-color;
    padding-bottom: 60px;
    & h3 { 
        margin: 0;  
        padding: 35px 0 0 0;
        @include police__h3;
    }
    & p {   
        font-weight: 100;
        font-size: 1rem;
        color: #525252;
        margin-bottom: 30px
    }    
    & button {
        @include shadow;
        background-image: linear-gradient($secondaire, $primaire);
        border: none;
        border-radius: 2rem;
        padding: 15px;
        color: white;
        font-size: 0.9rem;
        font-weight: 300;
    }
}

.fonction {
    counter-reset: choice;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .fonction__title {
        font-size: 2rem;
        width: 50vh;
        text-align: left;
        @include police__h3;
        margin:35px 0 15px 0;
    }
    & .nav__pic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        padding: 0;
    }
    
    & li{
        width: 50vh;
        position: relative;
        list-style-type: none;
        @include shadow;
        background-color: $back-color;
        padding: 25px 0 25px 80px;
        border-radius: 15px;
        font-weight: 600;
        font-size: 0.9rem;
        text-align: left;


        & .fas-picture {
        color: grey;
        font-size: 1.3rem;
        position: absolute;
        left: 40px;
        top: 22px;
        
        }
        .fa-mobile-screen-button{
            left: 44px;
           
        }
        
        &::before{
            position: absolute;
            left: -10px;
            top: 20px;

            display:flex;
            align-items: center;
            justify-content: center;
            content: counter(choice);
            counter-increment: choice ;
            background-color: $primaire;
            color: white;
            height: 30px;
            width: 30px;
            border-radius: 50%;

        }    
    }
    
}
