@import "./base/base.scss";
@import "./utils/mixin.scss";
@import "./utils/variables.scss";
@import "./layouts/header.scss";
@import "./layouts/body.scss";
@import "./layouts/location.scss";
@import "./layouts/haut-de-page.scss";
@import "./layouts/fonction.scss";
@import "./layouts/set__card.scss";
@import "./layouts/footer.scss";
@import "./layouts/menu.scss";









