@import "./variables";
@keyframes cascade {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes loader {
    0% {
        transform: scale(1);
        opacity: .9;
        z-index: 1;
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        opacity: .9;
        z-index: 1;
    }
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg*2);
    }
}
@keyframes letter__color {
    0% {
        opacity: 0;
        color:$tertiaire;
        text-shadow: 0 0 10px $primaire;
    }
    20% {
        opacity: 0.2;
        color: $primaire;
        text-shadow: 0 0 5px $secondaire;
    }
    40% {
        opacity: 1;
        color: $secondaire;
        text-shadow: 0 0 10px $tertiaire;
    }
    60% {
        opacity: 0.2;
        color: $tertiaire;
        text-shadow: 0 0 5px $primaire;
    }
    80% {
        opacity: 1;
        color: $primaire;
        text-shadow: 0 0 10px $secondaire;
    }
    100% {
        opacity: 0.2;
        color: $secondaire;
        text-shadow: 0 0 5px $tertiaire;
    }
}


















