@keyframes cascade {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes loader {
    0% {
        rotate: 0deg;
        transform: scale(1);
        opacity: .9;
        z-index: 1;
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        opacity: .9;
        z-index: 1;
    }
}


















