@mixin shadow {
    box-shadow: 0px 5px 5px #cfcfcf;
}
@mixin police__h3 {
    font-weight: 700, bolder;
    font-size: 1.4rem;
}
@mixin card__mobil {
    object-fit: contain;
   
}
@mixin bouton {
    background-image: linear-gradient($secondaire, $primaire);
    border: none;
    border-radius: 2rem;
    padding: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}