@mixin shadow($color: $shadow-color) {
    box-shadow: 0px 5px 5px $color;
}
@mixin main__font {
    font-family: 'shrikhand' , cursive;
    font-weight: normal;
}
@mixin police__h3 {
    font-weight: 700, bolder;
    font-size: 1.4rem;
}
@mixin bouton {
    @include shadow (darken($shadow-color, 20%));
    opacity: 1;
    border: none;
    border-radius: 2rem;
    padding: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: all .4s;
    background-image: linear-gradient($secondaire, $primaire);
    &:hover {
        opacity: .9;
        @include shadow;  
    }
}
@mixin center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin bg__clip {
    background-image: linear-gradient($primaire, $secondaire);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
@mixin heart($font-weight:800) {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f004";
    font-weight: $font-weight;
}