body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.loader {
  @include center;
  position: fixed;
  inset: 0;
  background-color: lighten($primaire, 20%);
  opacity: 0;
  z-index: -1;
  animation: loader 3s;
  & .loader__center {
    @include center;
    position: relative;
    height: 100%;
    width: 100%;
    & .loader__spin {
      position: absolute;
      border-radius: 50%;
      border-top: 5px solid $tertiaire;
      box-shadow: 0 0 10px $primaire;
      border-bottom: 5px solid $secondaire;
      width: 100px;
      height: 100px;
      animation: spinner 3s ease-out;
    }
    & .loader__letter {
      position: absolute;
      width: 100px;
      height: 100px;
      @include bg__clip;
      @include main__font;
      @include center;
      & .letter {
        opacity: 0;
        animation: letter__color 1.5s .2s infinite;
      }
      & .letter:nth-child(1) {
        animation-delay: 0ms;
      }
      & .letter :nth-child(2) {
        animation-delay: 200ms;
      }
      & .letter :nth-child(3) {
        animation-delay: 400ms;
      }
      & .letter:nth-child(4) {
        animation-delay: 600ms;
      }
      & .letter:nth-child(5) {
        animation-delay: 800ms;
      }
      & .letter:nth-child(6) {
        animation-delay: 1000ms;
      }
      & .letter:nth-child(7) {
        animation-delay: 1200ms;
      }
      & .letter:nth-child(8) {
        animation-delay: 1400ms;
      }
    }
  }
}

