body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.loader {
    @include center;
    position:fixed;
    inset: 0;
    background-color: lighten($primaire, 20%);
    opacity: 0;
    z-index: -1;
    animation: loader 3s;
    & .loader__spin {
        @include center;
        border-radius: 50%;
        border-top: 5px solid $tertiaire;
        border-bottom: 5px solid $secondaire;
        width: 100px;
        height: 100px;
        rotate: 360deg*3;
        animation: loader 3s ease-in-out;   
    }
    & .loader__spin__font { 
        position: absolute;
        top:48% ;
        right: 43.5%; 
    } 
    
}

@keyframes loader {
    0% {
        rotate: 0deg;
        transform: scale(1);
        opacity: .9;
        z-index: 1;
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        opacity: .9;
        z-index: 1;
    }
}












