.card {
  position: relative;
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
  @include shadow;
  text-decoration: none;
  color: black;
  & .card__img {
    object-fit: cover;
    height: 175px;
    width: 100%;
  }
  & .card__legend {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    & .fa-heart__reg {
      @include center;
      font-size: 1.4rem;
      position: absolute;
      bottom: 25px;
      right: 10px;
      height: 26px;
      width: 26px;
      &::before {
        @include heart($font-weight: 400);
        transform: scale(1);
        transition: all 1s;
        position: absolute;
      }
      &::after {
        position: absolute;
        @include heart;
        transform: scale(0.1);
        transition: all 1s;
        opacity: 0;
        @include bg__clip;
      }
      &:hover::after {
        transition: all 1s;
        transform: scale(1);
        opacity: 1;
      }
      &:hover::before {
        transform: scale(0.6);
        opacity: 0;
      }
    }
    & .legend__name,
    .legend__location {
      padding-left: 10px;
      display: flex;
      justify-content: flex-start;
    }
    & .legend__name {
      margin: 0;
      padding: 10px 0 5px 10px;
      font-weight: 600;
    }
    & .legend__location {
      font-weight: 300;
      margin: 0;
      padding-bottom: 13px;
    }
  }
}
