.fonction {
    counter-reset: choice;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    width: 100%;

    & .fonction__title {
        display: inline;
        font-size: 2rem;
        width: 80%;
        
        @include police__h3;
        margin:35px 0 15px 0;
    }
    & .fonction__pic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        padding: 0;
        width: 80%;
    }
    & .fonction__pic__list { 
        position: relative;
        list-style-type: none;
        @include shadow;
        background-color: $back-color;
        padding: 25px 0 25px 80px;
        border-radius: 1.2rem;
        font-weight: 600;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
        & .fas-picture {
        color: grey;
        font-size: 1.3rem;
        position: absolute;
        left: 40px;
        top: 22px;
        }
        &:hover {
            background-color: lighten($primaire, 35%);
            & .fas-picture {
                color: $primaire;
            }
        }
        .fa-mobile-screen-button{
            left: 44px;
        }
        &::before{
            position: absolute;
            left: -10px;
            top: 20px;
            display:flex;
            align-items: center;
            justify-content: center;
            content: counter(choice);
            counter-increment: choice ;
            background-color: $primaire;
            color: white;
            height: 24px;
            width: 24px;
            border-radius: 50%;

        }    
    }
    
}