.haut-de-page {
    text-align: center;
    background-color: $back-color;
    padding-bottom: 60px;
    & h3 { 
        margin: 0;  
        padding: 35px 0 0 0;
        @include police__h3;
    }
    & p {   
        font-weight: 300;
        font-size: 1rem;
        color: #525252;
        margin-bottom: 30px
    }    
    & button {
        @include bouton;
    }
}