@import "../utils/mixin.scss";
header{
    @include shadow;
    text-align: center;
    padding: 10px 0 10px 0;
    position: relative; 
    & h1 {
        margin: 0;
        @include main__font;
    }
}