.main__card__title {
    position: relative;
    bottom: 50px;
    overflow: hidden;
    background-color: $back-color;
    border-radius: 5rem;
    display: flex;
    justify-content: left;
    padding: 0 0px 10px 0px;
    & .heart__menu {
        background-color: 1px solid;
        height: 30px;
        width: 30px;
        &::before {
            @include heart($font-weight:400);
            position: absolute;
            right: 24px;
            top: 20px;
            font-size: 1.4rem;
            transition: all 1s;
        }
        &::after {
            @include heart;
            @include bg__clip;
            position: absolute;
            right: 24px;
            top: 20px;
            font-size: 1.4rem;
            opacity: 1;
            transform: scale(0);
            transition: all .9s;
        }
        &:hover::after {
            transform: scale(1.1);
        }
        &:hover::before {
            transform: scale(.6);
            opacity: 0;
        }
    }
    & h2 {
        @include main__font;
        letter-spacing: .5px;
        padding: 5px 0 5px 20px;
    }
    & .card__heart {
        position: absolute;
        right: 20px;
        top: 36px;
        font-size: 1.5rem;
        background-color: red;
    }
}