.main__card__slot {
    position: relative;
    bottom:60px;
    background-color: $back-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h4 {
        position: relative;
        top: 35px;
        padding: 15px 0 15px 0;
        margin-top: 0;
        text-transform: uppercase;
        width: 90%;
        padding-left: 0;
        font-weight: 400;
        &::before {
            content: "";
            position: absolute;
            top: 36px;
            left: 1px;
            height: 3px;
            width:37px;
            background-color: $tertiaire;
            
        }
    }
}