.header__menu {
    position: relative;
    box-shadow: none;
    & .fa-arrow-left {
        position: absolute;
        top: 20px;
        left: 40px;
        color: black;
        font-size: 1.3rem;
        
    }
}

.main__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main__card--color {
    background-color: $back-color;
    
}
.card__a {
    display: flex;
    flex-direction: column;
    .head__card {
        display: flex;
        flex-direction: column;
    }
    .card__a__pic {
        object-fit: cover;
        height: 220px;
    }
}
.main__card__title {
    position: relative;
    bottom: 35px;
    overflow: hidden;
    background-color: $back-color;
    border-radius: 5rem;
    display: flex;
    justify-content: left;
    padding: 0 10px 0 10px;
    &::before {
        @include heart($font-weight:400);
        position: absolute;
        right: 24px;
        top: 24px;
        font-size: 1.4rem;
        transition: all 1s;
    }
    &::after {
        @include heart;
        @include bg__clip;
        position: absolute;
        right: 24px;
        top: 24px;
        font-size: 1.4rem;
        opacity: 1;
        transform: scale(0);
        transition: all .9s;
    }
    &:hover::after {
        transform: scale(1.1);
    }
    &:hover::before {
        transform: scale(.6);
        opacity: 0;
    }
    
    & h2 {
        @include main__font;
    }
    & .card__heart {
        border: 1px solid;
        position: absolute;
        right: 20px;
        top: 22px;
        font-size: 1.5rem;
    }
}

.main__card__slot {
    background-color: $back-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & h4 {
        position: relative;
        padding: 15px;
        text-transform: uppercase;
        width: 90%;
        padding-left: 0;
        font-weight: 400;
        &::before {
            content: "";
            position: absolute;
            top: 36px;
            left: 1px;
            height: 3px;
            width:37px;
            background-color: $tertiaire;
            
        }
    }
}
.slot__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0 0 20px 0;
    width: 95%;
    & .list__item {
        @include shadow;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 15px;
        border-radius: 15px;
        background-color: white;
        overflow: hidden;
        height: 70px;
        & .item__legend {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            & h3 {
                margin: 10px 0 0 0;
            }
            & p {
                margin: 10px 0;
                display: flex;
                flex-wrap: nowrap;
                
                overflow: hidden;  
            }
        }
        & .item__price {
            background-color: white;
            @include center(flex-end);
            border: 1px solid;
            font-weight:475;
            font-size: .9rem;
            padding: 0 20px 11px 0;
        }
        & .item__price__checked {
            display: flex;
        }
        & .item__checked {
            border: 1px solid;
            width: 15%;
            @include center;
        }
    }  
}
.command {
  display: flex;
  justify-content:  center;
  padding: 20px 0 50px 0;
  & button {
    @include bouton;
    width: 40%;
  }
}

