.set__card {
    position: relative;
    background-color: $back-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: left;
    padding: 20px 0 75px;
    & h3 {
        width: 80%;
        @include police__h3;
        margin:22.4px 0px 0px;
    }
    & .new::before {
        padding: 5px;
        content: "Nouveau";
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: $tertiaire;
        color: darken($tertiaire, 50%);
        border-radius: 4px;
    }
}
.card {
    position: relative;
    width: 80%;
    border-radius: 2rem;
    overflow: hidden;
    @include shadow;
    & .card__img {
        object-fit: cover;
        height: 175px;
        width: 100%;
    }
    & .card__legend {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        & .fa-heart {
            position: absolute;
            bottom: 25px;
            right: 10px;
            font-size: 1.4rem;
        }
        & .fa-solid {
            opacity: 0;
            background-image: linear-gradient($primaire, $secondaire);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transform: scale(0);
            transition: all, 1s; 
        }
        & .fa-regular {
            transform: scale(1);
            transition: all 1s;
            &:hover {
                transform: scale(0);
                opacity: 0;
            }
            &:hover + .fa-solid{
                transform: scale(1.1);   
                opacity: 1;
            }
        }
        
        & .legend__name, .legend__location  {
            padding-left: 10px;
            display: flex;
            justify-content: flex-start;
        }
        & .legend__name {
            margin: 0;
            padding: 10px 0 5px 10px;
            font-weight: 600;
        }
        & .legend__location {
            font-weight: 300;
            margin: 0;
            padding-bottom: 13px;
        }
     }
 }
  