.set__card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: left;
    & h3 {
        width: 80%;
    }
}
.card {
    position: relative;
    border: 1px solid;
    width: 80%;
    
    
    & .card__img {
        object-fit: cover;
        height: 160px;
        width: 100%;
    }
    & .card__legend {
        
        display: flex;
        flex-direction: column;
        & .fa-heart {
            position: absolute;
            bottom: 18px;
            right: 10px;
            font-size: 1.4rem;
        }
        & .fa-solid {
            opacity: 0;
            background-image: linear-gradient($primaire, $secondaire);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transform: scale(0.4);
            transition: transform, .5s;
            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }
        & .legend__name, .legend__location  {
            margin: 10px 0 5px;
            padding-left: 10px;
            display: flex;
            justify-content: flex-start;
        }
     }
 }
  