.set__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: $back-color;
    padding-bottom: 65px;
    & h3 {
        @include police__h3;
        width: 50vh;
        margin-bottom:12.4px;
    }
    & .card {
        border-radius: 20px;
        width: 50vh;
        height: 250px;
        @include shadow;
        overflow: hidden;
    }
    & .card__img--lpg {
        @include card__mobil;
        object-position: -0px -40px;
    }
    & .card__img--lne {
        @include card__mobil;
        object-position: 0px -140px;
    }
    & .card__img--alf {
        @include card__mobil;
        object-position: 0px -30px;
    }  
    & .card__img--lds {
        @include card__mobil;
        object-position: 0px -50px;
    } 
        
    
    & .card__legend {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        position: relative;
        
        & .legend__name {
            margin: 15px 0 5px 0;
            min-width: max-content;
            font-weight: 700;
            font-size: 1.1rem;
        }
        & .legend__location {
            margin: 0;
            font-weight: 300;
        }
        & .fa-regular, .fa-solid  {
           position: absolute;
           right: 20px;
           bottom: 9px;
           font-size: 1.6rem;
        }
        & .fa-solid {
            font-size: 1.62rem;
            opacity: 0;
            color: red;
            transform: scale(1);
        }
        
    }
}